div {
	font-family: verdana;
	font-size:small;
}

#menu {
	margin-left: 10%;
	margin-right: 10%;
	background: #eee;
	padding: 1em;
}

#main {
	margin-left: 10%;
	margin-right: 10%;
}

.box {
	border: 2px outset;
	padding: 1em;
	margin: 2px;
}

td {
	background: #ddd;
	margin: 2px;
	padding: 0.5em;
}

textarea {
	width: 25em;
	height: 10em;
	border: #bbb 1px solid;
	background: #ddd;
	margin: 2px;
	padding: 0.5em;
}

#textbox {
	width: 25em;
	border: #bbb 1px solid;
	background: #ddd;
	margin: 2px;
	padding: 0.5em;
}

#footer {
	margin-left: 10%;
	margin-right: 10%;
	background: #ddd;
	padding: 1em;
}

img {
	border: 0px;
}

a {
	color: #777;
	text-decoration: none;
}

a:hover {
	color:#999;
	text-decoration: underline;
}

#menu a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0px;
	border: 1px outset;
}

#menu  a:active {
	border: 1px inset;
}


